@model Examen.Models.Producto

<h2>Ficha Producto</h2>
<div class="dl-horizontal">
    <label>Id: </label>
    <span>@Model.Id</span>
</div>
<div class="dl-horizontal">
    <label>Nombre: </label>
    <span>@Model.Nombre</span>
</div>
<div class="dl-horizontal">
    <label>Código de Barra: </label>
    <span>@Model.CodigoBarra</span>
</div>
<div class="dl-horizontal">
    <label>Familia: </label>
    <span>@Model.Familia</span>
</div>
<div class="dl-horizontal">
    <label>Precio:  </label>
    <span>@Model.Precio</span>
</div>
<div class="dl-horizontal">
    <label>Descuento Tope:  </label>
    <span>@Model.Descuento</span>
</div>
<div class="dl-horizontal">
    <label>Descripción:  </label>
    <span>@Model.Descripcion</span>
</div>
