@model Examen.Models.Cliente

<h2>Ficha Cliente</h2>
<div class="dl-horizontal">
    <label>Id: </label>
    <span>@Model.Id</span>
</div>
<div class="dl-horizontal">
    <label>Rut: </label>
    <span>@Model.Rut</span>
</div>
<div class="dl-horizontal">
    <label>Nombre: </label>
    <span>@Model.Nombre</span>
</div>

<div class="dl-horizontal">
    <label>Apellidos: </label>
    <span>@Model.Apellidos</span>
</div>
<div class="dl-horizontal">
    <label>Dirección:  </label>
    <span>@Model.Direccion</span>
</div>
<div class="dl-horizontal">
    <label>Tipo de Cliente:  </label>
    <span>@Model.TipoCliente</span>
</div>
